[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cond"]
	path = cond
	url = https://github.com/cran/cond
[submodule "csampling"]
	path = csampling
	url = https://github.com/cran/csampling
[submodule "marg"]
	path = marg
	url = https://github.com/cran/marg
[submodule "nlreg"]
	path = nlreg
	url = https://github.com/cran/nlreg
